
<h2>
    <%= @badge.title %>
</h2>

<p>
  <strong><%= t('.icon_url')%>:</strong><br>
  <%= @badge.image_url %><br>
  <Img src= <%= @badge.image_url %> Width="100" Height="100">
</p>


<%= link_to t('.back_to_badges'), badges_path %> 
