<h1><%= t('.all_gists')%></h1>

<table>
  <tr>
    <th><%= t('.user_email')%></th>
    <th><%= t('.question')%></th>
    <th><%= t('.gist_url')%></th>
  </tr>

  <%= render @gists %>

</table>

<p>
  <%= link_to t('.back_to_tests'), admin_tests_path %>
</p><br>