<h1><%= t('.header', test: @test_passage.test.title )%></h1>

<h2>You have correctly answered <%= pluralize(@test_passage.correct_questions, 'question')%>! </h2>

<% success_or_fail_result =  @test_passage.success? ? "success" : "fail" %>

<p> <%= t('.passed')%> <span class=<%= success_or_fail_result %>><%= @test_passage.success_rate %>%</span></p>

<p><%= link_to t('.back_to_tests'), tests_path %></p>
