<br><%= current_year %><br>
<p>
  <%= link_to t('.test_guru'), root_path %><br>
  <%= t('.author')%><br>
  <a href=<%= github_url("kpkodil", "RoR-TestGuru")%>><%= github_url("kpkodil", "RoR-TestGuru")%></a><br>
</p><br>
<p>
  <a href="https://thinknetica.com" target="_blank" rel="nofollow"><%= t('.project')%></a>
</p>
