<% if user_signed_in? %>
  <p class="nav user">
    <%= t('.welcome')%><b><%= current_user.email %><br>
    <%= link_to t('.logout'),  destroy_user_session_path, method: :delete %><br>
    <%= link_to t('.all_badges'), badges_path %>
    <%= link_to t('.your_badges'), guru_badges_path(current_user) %>
  </p>
<% else %>
  <p class="nav user">
    <%= link_to t('.login'), new_user_session_path %> |
    <%= link_to t('.register_new_guru'), new_user_registration_path %>
  </p>
<% end %>
