<h1><%= @answer.question.title %></h1>

<h2><%= @answer.title %></h2>

<p>
  <%= t('.correct')%>: <%= @answer.correct %>
</p>

<%= link_to t('.back_to_question', question: @answer.question.title ), question_path(@answer.question) %> 

