<h1><%= t('.edit_answer', answer: @answer.title)%></h1>

<h2><%= @answer.question.title %></h2>

<%= render 'form' %>

<%= link_to t('.show'), @answer %> |
<%= link_to t('back_to_question', question: @answer.question.title), admin_question_path(@answer.question) %>