<h1><%= @question.title %></h1>

<h2><%= t('.answers')%>:</h2>

<ol>
    <%= render @question.answers %>
</ol>

<%= link_to t('.new_answer'), new_admin_question_answer_path(@question) %><br>
<%= link_to t('.back_to_questions', test: @question.test.title), admin_test_path(@question.test_id) %><br>
<%= link_to t('.delete_question', question: @question.title), admin_question_path(@question), method: :delete %><br>