<h1>Tricky Tests</h1>

<p>
  <%= render 'shared/errors', resource: @test%>
</p>


<table class="table">
  <tr>
    <th class="sort-by-title pointer">
      Title
      <%= octicon 'arrow-up', class: "text-success hide" %>
      <%= octicon 'arrow-down', class: "text-success hide" %>
    </th>
    <th>Level </th>
    <th>Question count </th>
    <th colspan="4">Actions</th>
  </tr>

  <%= render @tests %>

</table>

<p>
  <%= link_to 'New test', new_admin_test_path %><br>

  <%= link_to 'Guru\'s gists', admin_gists_path %>
</p>