<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>
<table>

  <tr>
    <th>Questions:</th>
    <th colspan="3">Actions</th>
  </tr>
    <%= render partial: 'admin/questions/question', collection: @test.questions %>
</table>

<p>
  <%= link_to "Edit #{@test.title} test", edit_admin_test_path(@test) %><br>
  <%= link_to 'Create new question', new_admin_test_question_path(@test) %><br>
  <%= link_to 'Back to tests', admin_tests_path %><br>
</p>
