<h1><%= t('.tricky_tests')%></h1>

<table>
  <tr>
    <th class="sort-by-title pointer">
      Title
      <%= octicon 'arrow-up', class: "text-success hide" %>
      <%= octicon 'arrow-down', class: "text-success hide" %>
    </th>
    <th><%= t('.category')%></th>
    <th><%= t('.level')%></th>
    <th><%= t('.questions_count')%></th>
    <th colspan="4"><%= t('.actions')%></th>
  </tr>

  <%= render @tests %>

</table>